# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.env/
.venv/
env/
venv/
ENV/
ENV.bak/
venv.bak/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# notebook
.ipynb_checkpoints/